<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1046192536511-4l7ob37utfis6al37l0coeujduq4dh8p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1046192536511-4l7ob37utfis6al37l0coeujduq4dh8p</string>
	<key>API_KEY</key>
	<string>AIzaSyD84RNPReS0aR5cII26oMIIm9cp26ML21o</string>
	<key>GCM_SENDER_ID</key>
	<string>1046192536511</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.SocialApp</string>
	<key>PROJECT_ID</key>
	<string>social-app-31b34</string>
	<key>STORAGE_BUCKET</key>
	<string>social-app-31b34.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1046192536511:ios:f2171d1fbe94a08e</string>
	<key>DATABASE_URL</key>
	<string>https://social-app-31b34.firebaseio.com</string>
</dict>
</plist>